.ticketing-sidebar
  .ticketing-sidebar-close.visible-md
    a(href='', ng-click='$hide();close()')
  ul.nav.nav-pills.nav-stacked
    .listview
      .lv-body
        a.lv-item.menu-item(href="", ui-sref="ticketingAdminCenter.contract", ui-sref-active="selected")
          i.mdi.mdi-file
          .menu-title #{__('Contracts')}
        a.lv-item.menu-item(href="", ui-sref="ticketingAdminCenter.users", ui-sref-active="selected")
          i.mdi.mdi-account-multiple
          .menu-title #{__('Users')}
        a.lv-item.menu-item(href="", ui-sref="ticketingAdminCenter.organization", ui-sref-active="selected")
          i.mdi.mdi-city
          .menu-title #{__('Organizations')}
        a.lv-item.menu-item(href="", ui-sref="ticketingAdminCenter.settings", ui-sref-active="selected")
          i.mdi.mdi-wrench
          .menu-title #{__('Global settings')}
