.row.flex-vertical-centered
  .col-md-2.col-xs-2
    span.ellipsis(title="{{::$ctrl.demand.demandType}}") {{::$ctrl.demand.demandType}}
  .col-md-2.col-xs-2
    span.ellipsis(title="{{::$ctrl.demand.softwareType}}") {{::$ctrl.demand.softwareType}}
  .col-md-2.col-xs-2
    span.ellipsis(title="{{::$ctrl.demand.issueType}}") {{::$ctrl.demand.issueType}}
  .col-md-2.col-xs-2
    span.ellipsis(title="{{::$ctrl.demand.responseTime | ticketingTime}}") {{::$ctrl.demand.responseTime | ticketingTime}}
  .col-md-2.col-xs-2
    span.ellipsis(title="{{::$ctrl.demand.workaroundTime | ticketingTime}}") {{::$ctrl.demand.workaroundTime | ticketingTime}}
  .col-md-2.col-xs-2
    span.ellipsis(title="{{::$ctrl.demand.correctionTime | ticketingTime}}") {{::$ctrl.demand.correctionTime | ticketingTime}}
