.pull-left.p-r-15
  ticketing-selectable(item="$ctrl.organization")
.media-body
  .lv-title
    a(ui-sref="ticketing.admin.organization.detail({organizationId: $ctrl.organization._id})") {{::$ctrl.organization.shortName}}
