ul.esn-tab
  li.btn-wave(ng-class="{'active': $ctrl.selectedTab === 'demand'}")
    a(href="", ng-click="$ctrl.selectedTab = 'demand'")
      | #{__('Demands')}
  li.btn-wave(ng-class="{'active': $ctrl.selectedTab === 'software'}")
    a(href="", ng-click="$ctrl.selectedTab = 'software'")
      | #{__('Software')}
