.tic-client-view {

  .tic-client-view-card {
    .flex-column;

    .tic-client-view-card-overview {
      .flex-column;
      .align-items(stretch);

      .tic-client-view-card-pic {

        img {
          width: 100%;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      .tic-client-view-card-info {
        .flex-column;
        .all-centered;

        background: @accentColor;
        color: @m-white;
        height: 45px;

        .tic-client-name {
          font-weight: 500;
          font-size: 27px;
          width: 100%;
          text-align: center;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .tic-client-view-card-details {
      .flex-column;

      background-color: @m-white;
      width: 100%;
      padding: 5px;

      .tic-client-view-card-line {
        .flex-column;

        margin-bottom: 20px;

        .tic-client-view-card-line-key {
          .flex-vertical-centered;

          margin-bottom: 10px;
          font-size: 20px;

          .tic-client-view-card-line-key-title{
            margin: 0 0 0 5px;
            font-weight: 100;
          }
        }

        .tic-client-view-card-line-value {
          .flex-row;

          padding: 15px;
          color: @m-black;
          font-size: 13px;

          .tic-client-view-card-line-value-title {
            .flex-shorthand(1, 0, 0%);
            .flex-start;

            font-weight: bold;

            i {
              margin-right: 4px;
              position: relative;
              top: 1px;
            }
          }

          .tic-client-view-card-line-value-description {
            .flex-start;
            .flex-shorthand(2, 0, 0%);
          }
        }
      }
    }
  }
}

@media(min-width: @screen-md-min) {
  .tic-client-view {
    .tic-client-view-card {
      .flex-wrap;
      .flex-row;

      .tic-client-view-card-overview {
        .align-items(stretch);

        background-color: @darkenBgColor;
        padding: 15px;
        width: 250px;
      }

      .tic-client-view-card-details {
        .flex-column;

        padding: 30px;
        width: calc(~'100% - 250px');
      }
    }
  }
}
