extends /modules/subheader/responsive-subheader

block left
  tic-back-button(ui-sref="ticketing.clients-list")

block right
  tic-edit-button(ui-sref="ticketing.clients-edit({ client: ctrl.client, clientId: ctrl.client._id })")
