extends /modules/subheader/responsive-subheader

block left
  tic-subheader-button(ui-sref= "ticketing.clients-list", tic-icon-class= "mdi-reply", tic-icon-text= "Back")

block right
  tic-subheader-button(ui-sref= "ticketing.client-edit({ client: ctrl.client, clientId: ctrl.client._id })", tic-icon-class= "mdi-pencil", tic-icon-text= "Edit", tic-icon-position= "right")
