.tic-client-view-card
  .tic-client-view-card-overview
    .tic-client-view-card-pic
        img(ng-src="{{ ctrl.getClientLogo(ctrl.client) }}", alt='{{ "Logo" | translate }}')
    .tic-client-view-card-info
      .tic-client-name(ng-attr-title="{{ ::ctrl.client.name }}") {{ ::ctrl.client.name }}
  .tic-client-view-card-details
    .tic-client-view-card-line
      .tic-client-view-card-line-key
        i.mdi.mdi-city
        h4.tic-client-view-card-line-key-title {{ 'Client' | translate }}
      .tic-client-view-card-line-value(ng-if= "ctrl.client.is_active !== undefined")
        .tic-client-view-card-line-value-title
          i.mdi.mdi-information
          | {{ 'Status' | translate }}
        .tic-client-view-card-line-value-description(ng-if= "ctrl.client.is_active")
          | {{ 'Active' | translate }}
        .tic-client-view-card-line-value-description(ng-if= "!ctrl.client.is_active")
          | {{ 'Inactive' | translate }}
      .tic-client-view-card-line-value(ng-if= "ctrl.client.acronym")
        .tic-client-view-card-line-value-title
          i.mdi.mdi-square-inc
          | {{ 'Acronym' | translate }}
        .tic-client-view-card-line-value-description
          | {{ ::ctrl.client.acronym }}
      .tic-client-view-card-line-value(ng-if= "ctrl.client.address")
        .tic-client-view-card-line-value-title
          i.mdi.mdi-map-marker
          | {{ 'Address' | translate }}
        .tic-client-view-card-line-value-description
          tic-client-address(address="ctrl.client.address")
    .tic-client-view-card-line
      .tic-client-view-card-line-key
        i.mdi.mdi-monitor
        h4.tic-client-view-card-line-key-title {{ 'Client Information' | translate }}
      .tic-client-view-card-line-value(ng-if= "ctrl.client.access_code")
        .tic-client-view-card-line-value-title
          i.mdi.mdi-qrcode
          | {{ 'Access Code' | translate }}
        .tic-client-view-card-line-value-description
          | {{ ::ctrl.client.access_code }}
      .tic-client-view-card-line-value(ng-if= "ctrl.client.preferred_contact")
        .tic-client-view-card-line-value-title
          i.mdi.mdi-account
          | {{ 'Preferred Contact' | translate }}
        .tic-client-view-card-line-value-description
          | {{ ::ctrl.client.preferred_contact }}
