extends /modules/subheader/responsive-subheader.pug

block left
  tic-subheader-button(esn-back-button, tic-icon-class= "mdi-close", tic-icon-text= "Cancel")

block right
  tic-subheader-button(tic-click= "ctrl.createClient()", tic-disabled= "ctrl.form.$invalid", tic-icon-class= "mdi-check", tic-icon-text= "Create", tic-icon-position= "right")
