sub-header
  tic-client-add-subheader(create-client="ctrl.createClient(createClientForm)", cancel="ctrl.cancel()")

.tic-client-add
  form.tic-client-add-form(name='createClientForm', ng-submit='ctrl.createClient(createClientForm)')
    input.form-control.floating-label(type='text', placeholder='{{ "Name" | translate }}', ng-model='client.name', required)
    input.form-control.floating-label(type='text', placeholder='{{ "Post box" | translate }}', ng-model='client.address.post_box')
    input.form-control.floating-label(type='text', placeholder='{{ "Extended address" | translate }}', ng-model='client.address.extended_address')
    input.form-control.floating-label(type='text', placeholder='{{ "Street" | translate }}', ng-model='client.address.street', required)
    input.form-control.floating-label(type='text', placeholder='{{ "Zip" | translate }}', ng-model='client.address.zip', required)
    input.form-control.floating-label(type='text', placeholder='{{ "City" | translate }}', ng-model='client.address.city', required)
    input.form-control.floating-label(type='text', placeholder='{{ "Country" | translate }}', ng-model='client.address.country', required)
    input.form-control.floating-label(type='text', placeholder='{{ "Access Code" | translate }}', ng-model='client.access_code', required)
    input.form-control.floating-label(type='text', placeholder='{{ "Access Code Hint" | translate }}', ng-model='client.access_code_hint', required)
    .tic-client-logo(modal-launcher, template="/linagora.esn.ticketing/app/client/add/tic-client-add-logo-modal", ng-click="showModal()")
      a
        img(ng-src="{{ ctrl.getClientLogo() }}", alt='{{ "Logo" | translate }}')
      a.tic-client-logo-edit
        i.mdi.mdi-camera
        span {{ "Update Logo" | translate }}
