sub-header
  tic-client-add-subheader(create-client="ctrl.createClient(form)", cancel="ctrl.cancel()")

.tic-client-add
  form.tic-client-add-form(name='form', ng-submit='ctrl.createClient(form)')
    .tic-create-client-fields
      esn-form-group(label='{{ "Name" | translate }}')
        input.form-control(type='text', ng-model='client.name', required)
      esn-form-group(label='{{ "Post box" | translate }}')
        input.form-control(type='text', ng-model='client.address.post_box')
      esn-form-group(label='{{ "Extended address" | translate }}')
        input.form-control(type='text', ng-model='client.address.extended_address')
      esn-form-group(label='{{ "Street" | translate }}')
        input.form-control(type='text' ng-model='client.address.street', required)
      esn-form-group(label='{{ "Zip" | translate }}')
        input.form-control(type='text', ng-model='client.address.zip', required)
      esn-form-group(label='{{ "City" | translate }}')
        input.form-control(type='text', ng-model='client.address.city', required)
      esn-form-group(label='{{ "Country" | translate }}')
        input.form-control(type='text', ng-model='client.address.country', required)
      esn-form-group(label='{{ "Access Code" | translate }}')
        input.form-control(type='text', ng-model='client.access_code', required)
      esn-form-group(label='{{ "Access Code Hint" | translate }}')
        input.form-control(type='text', ng-model='client.access_code_hint', required)
    .tic-client-logo(modal-launcher, template="/linagora.esn.ticketing/app/client/add/tic-client-add-logo-modal", ng-click="showModal()")
      a
        img(ng-src="{{ ctrl.getClientLogo(client) }}", alt='{{ "Logo" | translate }}')
      a.tic-client-logo-edit
        i.mdi.mdi-camera
        span {{ "Update Logo" | translate }}
