form.tic-client-form(name= "{{ ctrl.formName }}")
  .tic-client-form-overview
    .tic-client-form-logo(modal-launcher, template="/linagora.esn.ticketing/app/client/add/tic-client-add-logo-modal", ng-click="showModal()")
      a
        img(ng-src="{{ ctrl.getClientLogo(ctrl.client) }}", alt='{{ "Logo" | translate }}')
      a.tic-client-form-logo-edit
        i.mdi.mdi-camera
        span {{ "Update Logo" | translate }}
  .tic-client-form-details
    .tic-client-form-line
      .tic-client-form-line-key
        i.mdi.mdi-city
        h4.tic-client-form-line-key-title {{ 'Client' | translate }}
      .tic-client-form-line-value
        .checkbox
          label
            input(type="checkbox", ng-model="ctrl.client.is_active", name="Active")
            i.input-helper
            | {{ "Active" | translate }}
      .tic-client-form-line-value
        esn-form-group(form= "{{ ctrl.formName }}", label='{{ "Name" | translate }}')
          input.form-control(type='text', ng-model='ctrl.client.name', required)
      .tic-client-form-line-value
        esn-form-group(form= "{{ ctrl.formName }}", label='{{ "Acronym" | translate }}')
          input.form-control(type='text', ng-model='ctrl.client.acronym', required)
    .tic-client-form-line
      .tic-client-form-line-key
        i.mdi.mdi-map-marker
        h4.tic-client-form-line-key-title {{ 'Address' | translate }}
      .tic-client-form-line-value
        esn-form-group(form= "{{ ctrl.formName }}", label='{{ "Street" | translate }}')
          input.form-control(type='text' ng-model='ctrl.client.address.street', required)
      .tic-client-form-line-value
        esn-form-group(form= "{{ ctrl.formName }}", label='{{ "Extended address" | translate }}')
          input.form-control(type='text', ng-model='ctrl.client.address.extended_address')
      .tic-client-form-line-value
        esn-form-group(form= "{{ ctrl.formName }}", label='{{ "Post box" | translate }}')
          input.form-control(type='text', ng-model='ctrl.client.address.post_box')
      .tic-client-form-line-value
        esn-form-group(form= "{{ ctrl.formName }}", label='{{ "Zip" | translate }}')
          input.form-control(type='text', ng-model='ctrl.client.address.zip', required)
        esn-form-group(form= "{{ ctrl.formName }}", label='{{ "City" | translate }}')
          input.form-control(type='text', ng-model='ctrl.client.address.city', required)
      .tic-client-form-line-value
        esn-form-group(form= "{{ ctrl.formName }}", label='{{ "Country" | translate }}')
          input.form-control(type='text', ng-model='ctrl.client.address.country', required)
    .tic-client-form-line
      .tic-client-form-line-key
        i.mdi.mdi-monitor
        h4.tic-client-form-line-key-title {{ 'Client Information' | translate }}
      .tic-client-form-line-value
        esn-form-group(form= "{{ ctrl.formName }}", label='{{ "Access Code" | translate }}')
          input.form-control(type='text', ng-model='ctrl.client.access_code', required)
      .tic-client-form-line-value
        esn-form-group(form= "{{ ctrl.formName }}", label='{{ "Access Code Hint" | translate }}')
          input.form-control(type='text', ng-model='ctrl.client.access_code_hint', required)
      .tic-client-form-line-value
        esn-form-group(form= "{{ ctrl.formName }}", label='{{ "Preferred Contact" | translate }}')
          input.form-control(type='text', ng-model='ctrl.client.preferred_contact', required)
