.card
  .card-header
    h2 {{::$ctrl.group.category | esnI18n}}
  .card-body
    ticketing-glossary-form(category="$ctrl.group.category")
    .listview.lv-bordered.lv-lg(ng-if="$ctrl.group.glossaries.length > 0")
      .lv-header-alt
        h2.lvh-label {{::$ctrl.group.listTitle | esnI18n}}
      .lv-body
        .lv-item(ng-repeat="item in $ctrl.group.glossaries track by item.word")
          .media
            .media-body
              .lv-title {{::item.word}}
    div.p-b-30(ng-if="!$ctrl.group.glossaries.length")
      ticketing-empty-message(message="{{::$ctrl.group.emptyMessage | esnI18n}}")
