.row.flex-vertical-centered(ng-if="!$ctrl.isEntityMode")
  .col-md-2.col-xs-4.lv-title
    span {{::$ctrl.user.firstname}} {{::$ctrl.user.lastname}}
  .col-md-3.col-xs-4.lv-title
    span {{::$ctrl.user.entity.parent.fullName}}
  .col-md-3.hidden-xs.lv-title
    span {{::$ctrl.user.entity.fullName}}
  .col-md-3.col-xs-4.ellipsis
    a(ng-href="mailto:{{::$ctrl.user.preferredEmail}}")
      | {{::$ctrl.user.preferredEmail}}
  .col-md-1.hidden-xs.ellipsis
    a(ng-href="tel:{{$ctrl.user.main_phone}}")
      | {{$ctrl.user.main_phone}}
.row.flex-vertical-centered(ng-if="$ctrl.isEntityMode")
  .col-md-4.col-xs-3.lv-title
    span {{::$ctrl.user.firstname}} {{::$ctrl.user.lastname}}
  .col-md-4.col-xs-5.ellipsis
    a(ng-href="mailto:{{::$ctrl.user.preferredEmail}}")
      | {{::$ctrl.user.preferredEmail}}
  .col-md-4.col-xs-4.ellipsis
    a(ng-href="tel:{{::$ctrl.user.main_phone}}")
      | {{::$ctrl.user.main_phone}}
