ticketing-ticket-detail {
  .card {
    padding-top: 25px;
    padding-bottom: 50px;

    ticketing-progress-bar {
      flex-grow: 0.7;
      width: 50%;
    }
  }

  .row {
    .autocomplete-requester {
      z-index: 3;
    }

    .autocomplete-engineers {
      z-index: 2;
    }

    .autocomplete-support-manager {
      z-index: 1;
    }
  }

  ticketing-ticket-form-demand {
    .row .col-xs-12 {
      z-index: 0;
    }
  }
}

@media(min-width: @screen-md-min) {
  ticketing-ticket-detail {
    .card-body {
      padding: 0 100px 0 100px;
    }
  }
}
