.modal.user-update-modal
  form(name="form")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close", ng-click="$hide()")
            span(aria-hidden="true") &times;
          h4.modal-title #{__('Edit user')}
        .modal-body
          ticketing-user-form(ng-if="$ctrl.user", user="$ctrl.user", update-mode="true")
        .modal-footer.flex
          .flex-vertical-centered.flex-end
            button.btn.btn-link(type="button", ng-click="$hide()")
              | #{__('Cancel')}
            button.btn.btn-primary(ng-click="$ctrl.update(); $hide()", ng-disabled="form.$invalid || form.$pristine")
              | #{__('Save')}
