extends ./tic-responsive-subheader

block left
  a.button.tic-sub-header-menu-button(contextual-sidebar, data-content-template="/linagora.esn.ticketing/app/home/tic-sidebar.html").hidden-md
    i.mdi.mdi-menu
  span.tic-sub-header-content
    block title

block right
