ul.esn-tab
  li.btn-wave(ng-class="{'active': $ctrl.selectedTab === 'main'}")
    a(href="", ng-click="$ctrl.selectedTab = 'main'")
      | #{__('Main')}
  li.btn-wave(ng-class="{'active': $ctrl.selectedTab === 'permission'}")
    a(href="", ng-click="$ctrl.selectedTab = 'permission'")
      | #{__('Permissions')}
  li.btn-wave(ng-class="{'active': $ctrl.selectedTab === 'software'}")
    a(href="", ng-click="$ctrl.selectedTab = 'software'")
      | #{__('Software')}
