extends /modules/subheader/fullwidth-subheader.pug

block left
  .flex.flex-vertical-centered(ng-if="!$ctrl.isEditMode")
    button.btn.btn-link.flex-vertical-centered(esn-back-button="home")
      i.mdi.mdi-arrow-left
      span.hidden-xs #{__('Back')}
  .flex.flex-vertical-centered(ng-if="$ctrl.isEditMode")
    button.btn.btn-link.flex-vertical-centered(ng-click="$ctrl.onCancelBtnClick()")
      i.mdi.mdi-close
      span.hidden-xs #{__('Cancel')}
block right
  div(ng-if="!$ctrl.isEditMode")
    button.btn.btn-link.flex-vertical-centered(ng-click="$ctrl.onEditBtnClick()")
      i.mdi.mdi-pencil.mdi-margin-right
      span.hidden-xs #{__('Edit')}
  div(ng-if="$ctrl.isEditMode")
    esn-subheader-save-button(on-click="$ctrl.onSaveBtnClick()", form="$ctrl.form")
      span.hidden-xs #{__('Save')}
