.card
  .card-header(ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed")
    a(ng-class="{collapsed: $ctrl.isCollapsed}")
      h2 {{::$ctrl.glossary.category | esnI18n}}
        i.mid.mdi-camera-rear-variant.collapse-icon
  .card-body(ng-show="!$ctrl.isCollapsed")
    ticketing-glossary-form(category="$ctrl.glossary.category")
    .listview.lv-bordered.lv-lg(ng-if="$ctrl.glossary.group.length > 0")
      .lv-header-alt
        h2.lvh-label {{::$ctrl.glossary.listTitle | esnI18n}}
      .lv-body
        .lv-item(ng-repeat="item in $ctrl.glossary.group track by item.word")
          .media
            .media-body
              .lv-title {{::item.word}}
    div.p-b-30(ng-if="!$ctrl.glossary.group.length")
      ticketing-empty-message(message="{{::$ctrl.glossary.emptyMessage | esnI18n}}")
