ul.esn-tab
  li.btn-wave(ng-class="{'active': $ctrl.selectedTab === 'main'}")
    a(href="", ng-click="$ctrl.selectedTab = 'main'")
      | #{__('Main')}
  li.btn-wave(ng-class="{'active': $ctrl.selectedTab === 'contract'}")
    a(href="", ng-click="$ctrl.selectedTab = 'contract'")
      | #{__('Contracts')}
  li.btn-wave(ng-class="{'active': $ctrl.selectedTab === 'entity'}")
    a(href="", ng-click="$ctrl.selectedTab = 'entity'")
      | #{__('Entities')}
