.row.flex-vertical-centered
  .col-md-6.col-xs-6.lv-title
    span.ellipsis(title="{{::$ctrl.organization.shortName}}") {{::$ctrl.organization.shortName}}
  .col-md-6.col-xs-6.ellipsis
    span.ellipsis {{::$ctrl.organization.administrator.firstname}} {{::$ctrl.organization.administrator.lastname}}
