sub-header
  ticketing-general-subheader
  
.card.m-b-0
  ticketing-general-tabs(selected-tab = "$ctrl.selectedTab")
ticketing-general-tabs-software(ng-show='$ctrl.selectedTab === "software"')
ticketing-general-tabs-demand(ng-show='$ctrl.selectedTab === "demand"')
