sub-header
  tic-clients-list-subheader
.tic-client-list
  .card-client(ng-repeat= "client in ctrl.clients")
    .tic-card-client-clickable(ui-sref="ticketing.client-view({ client: client, clientId: client._id })")
      span.tic-client-logo
        img(ng-src="{{ ctrl.getClientLogo(client) }}", alt='{{ "Logo" | translate }}')
      .tic-client-information
        .tic-client-name
          | {{ client.name }}
        .tic-client-address
          | {{ client.address }}
