.tic-clients-list {
  width: 100%;

  .tic-client-display {
    .flex;

    border-bottom: 1px solid @m-gray-lighten-30;

    .tic-client-icons{
      .all-centered;

      width: 20%;
      font-size: 2em;

      .tic-delete-icon {
        .flex-shorthand(1);
      }

      .tic-edit-icon {
        .flex-shorthand(1);
      }
    }

    .tic-client-card {
      .flex-row;

      width: 80%;
      margin-bottom: 5px;

      .tic-client-logo {
        .all-centered;

        width: 60px;
        height: 60px;
        margin-right: 5px;
        margin-left: 5px;

        img {
          height: 40px;
        }
      }

      .tic-client-information {
        .flex-direction(column);

        width: calc(~'100% - 60px');
        padding: 5px;
        margin: 5px;

        .tic-client-name {
          font-weight: 700;
          text-transform: capitalize;
          font-size: 16px;
        }

        .tic-client-address-preview {
          font-weight: 600;
          text-transform: capitalize;
          font-size: 14px;
          color: @m-black-fade-20;
        }
      }
    }
  }
}

@media (min-width: @screen-md-min) {
  .tic-clients-list {
    .tic-client-display {
      .tic-client-card > .tic-client-information {
        width: 100%;
      }
    }
  }
}
