sub-header
  tic-clients-list-subheader
.tic-clients-list
  .tic-client-display(ng-repeat= "client in ctrl.clients")
    .tic-client-card(ui-sref="ticketing.client-view({ client: client, clientId: client._id })")
      span.tic-client-logo
        img(ng-src="{{ ctrl.getClientLogo(client) }}", alt='{{ "Logo" | translate }}')
      .tic-client-information
        .tic-client-name
          | {{ client.name }}
        .tic-client-address-preview
          | {{ client.address.city }} {{ client.address.country }}
    .tic-client-icons
      .tic-edit-icon(ui-sref="ticketing.client-edit({ client: client, clientId: client._id })")
        .mdi.mdi-pencil
      .tic-delete-icon(modal-launcher, template="/linagora.esn.ticketing/app/client/delete/tic-client-delete-modal", ng-click="showModal()")
        .mdi.mdi-delete
fab(ui-sref='ticketing.client-add')
