infinite-list(load-more-elements='$ctrl.loadMoreElements()', scroll-inside-container="$ctrl.scrollInsideContainer")
  .listview.lv-bordered.lv-lg(ng-if="$ctrl.elements.length > 0")
    .lv-body
      .lv-item(ng-repeat="item in $ctrl.elements track by item._id")
        ticketing-ticket-activities-item(activity="item")
ul.nav.nav-pills.nav-stacked(ng-if='$ctrl.infiniteScrollDisabled')
  li.text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')
