.tic-client-address-content
  .tic-client-address-line(ng-if= "ctrl.address.street || ctrl.address.extended_address")
    .tic-client-address-line-key
      | {{ 'Street' | translate }}:
    .tic-client-address-line-value
      | {{ ::ctrl.address.street }}
      span(ng-if="ctrl.address.extended_address") , {{ ::ctrl.address.extended_address }}
  .tic-client-address-line(ng-if= "ctrl.address.post_box")
    .tic-client-address-line-key
      | {{ 'Post box' | translate }}:
    .tic-client-address-line-value
      | {{ ::ctrl.address.post_box }}
  .tic-client-address-line(ng-if= "ctrl.address.zip || ctrl.address.city")
    .tic-client-address-line-key
      | {{ 'City' | translate }}:
    .tic-client-address-line-value
      | {{ ::ctrl.address.zip }}, {{ ::ctrl.address.city }}
  .tic-client-address-line(ng-if= "ctrl.address.country")
    .tic-client-address-line-key
      | {{ 'Country' | translate }}:
    .tic-client-address-line-value
      | {{ ::ctrl.address.country }}
