.row
  .col-md-4
    ticketing-glossary-group(group="$ctrl.demandType")
  .col-md-4
    ticketing-glossary-group(group="$ctrl.softwareType")
  .col-md-4
    ticketing-glossary-group(group="$ctrl.issueType")
