doctype html
html.mail
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    - var contractUrl = new URL(`administration/contracts/${content.ticket.contract}`, content.frontendUrl).toString();
    - var contractNameLinked = `<a href="${contractUrl}">${content.contractName}</a>`
    p !{translate('The contract {{{contractNameLinked}}} is expired.', {contractNameLinked: contractNameLinked})}
    include ../includes/footer.pug
