.modal.center(tabindex="-1", role="dialog", ng-controller="ticClientDeleteModalController as ctrl")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", ng-click="$toggle()")
        h4.modal-title {{ 'Delete a client' | translate }}
      .modal-body
        {{ 'Are you sure you want to delete this client?' | translate }}
        .tic-client-delete-modal.tic-client-name
          {{ client.name }}
      .modal-footer
        button.btn.btn-default(type="button", ng-click="ctrl.deleteClient(client._id); $toggle()") {{ 'Confirm' | translate }}
        button.btn.btn-default(type="button", ng-click="$toggle()") {{ 'Cancel' | translate }}
